html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.colorPicker {
    border-radius: 10px;
    border: solid 3px black;
    background-color: #EEEFF0;
    width: 48rem;
    height: 34.5rem;
}

/* header*/
.header {
    width: 48rem;
    height: 3.5rem;
    background-color: #5A648D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    align-items: center;
}

.headerText {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-left: 3em;
    color: white;
}

.selection {
    height: 4rem;
    width: 48rem;
    padding-left: 3rem;
    display:flex;
    flex-direction: row;
}

.modelBackgroundIndicator {
    height:100%;
    width: 50%;
    align-items: center;
    vertical-align: middle;
    padding-top: 1rem;
    padding-left: 3rem;
    
}

.selectionOptions{ 
    height: 100%;
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5rem;
}

.selectClicked {
    background-color: 5A648D;
}

.selectionMode {
    /* selection mode buttons -- "grid", "wheel", "slider*/
    display: inline-block;
    height: 1.8rem;
    width: 4.8rem;
    background-color: #E5E5E5;
    border-radius: 0.2rem;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    line-height: 1.8rem; /* added */
}
.modelIndicator {
    width: 12.3rem;
}

.parameters {
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    gap: 2rem;
}

.display {
    background-color: white;
    border: solid 2px #CECECE;
    height: 24rem;
    width:26rem;
    border-radius: 0.5rem;
    text-align: center;
    display:flex;
    flex-direction: column;
}

/** the color wheel outer slider**/
#outer {
    width: 100px; height: 100px;
    background-image: conic-gradient(from 270deg, #ff4800 10%, #dfd902 35%, #20dc68, #0092f4, #da54d8 72% 75%, #ff4800 95%);
}

.colorWheel {
    padding-top: 3%;

}
#inner {
    width: 100px; height: 100px;
    border-radius: 50%;
  }


.turtleResultDisplay {
    width: 14.4rem;
    height: 24rem;
    border-radius: 0.5rem;
}

.sliderThumb {
    /* a dragable class */
    cursor: move;
}

/* removes the cursor while dragging the svg */
.dragging {
  cursor: none;
}

.incrementContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.increment {
    display: flex;
    flex-direction: row;
    border: solid #C0C0C0;
    position:relative;
    justify-content: center;
    width:50%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    gap: 1rem;
}

.checkboxContainer {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.checkbox {
    border: solid #CECECE 1px;
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 2px;
    cursor: pointer;
}

.boxText {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}

.clicked {
    background-color: #C0C0C0;
}

.colorParameters {
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.parameterText {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.valDisplay {
    background-color: white;
    height: 1.7rem;
    width: 70%;
    border-radius: 0.3rem;
    text-align: center;
    padding-top: 0.5rem;
}